* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background: #081820;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

#game-canvas {
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#webcam-video, #webcam-process {
  display: none;
}
